<div class="container">
    <h1 class="mb-5 py-3">Your Matches</h1>

    <div class="user-card cards">
    <% @my_meetings.each do |meeting| %>
      <% if current_user.kind == "investor" %>
        <%= render 'meeting_startup_card', meeting: meeting %>
      <% else %>
        <%= render 'meeting_investor_card', meeting: meeting %>
      <% end %>
    <% end %>
    </div>

  <% if @my_likes.count > 0 %>
  <h1 class="mb-5 py-3">Your Likes</h1>

  <!-- cards -->
  <div class="user-card cards">
    <!-- one row = one card -->
    <% @my_likes.each do |viewing| %>
    <div class="row mb-4" id="selection-card">
      <%link_to "" %>
      <div class="card col-lg-12 selection-card">
        <div class="d-flex justify-content-between align-items-center" id="inner-content">

          <div class="col-sm-6 d-flex justfiy-content-between align-items-center">
            <div class="col">
              <%= cl_image_tag viewing.attendance.user.photo, class: "user-photo" %>
            </div>
            <div class="line-height-10 info-one col">
              <strong><%= viewing.attendance.user.first_name %> <%= viewing.attendance.user.last_name %></strong></p>
              <p><%= viewing.attendance.user.position %><br> <%= viewing.attendance.user.company_name %></p>
            </div>
            <div class="col info-two">
              <p><%= viewing.attendance.user.company_city %></p>
            </div>
          </div>

          <div class="col-sm-6 d-flex justfiy-content-between align-items-center">
            <div class="col info-three">
              <p><strong>Business Model: </strong><%= viewing.attendance.user.selling_to %> </p>
              <p><strong>Category: </strong><%= viewing.attendance.user.sectors %></p>
              <p><strong>Raising: </strong> <%= viewing.attendance.user.stages %></p>
            </div>
            <div class="matching-status col-">
              <p id="waiting"><strong>WAITING</strong></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
