<div class="container">
  <h1 class="mb-5 py-3">Your Matches</h1>

  <!-- cards -->

  <% if current_user == "investor" %>
    <%= iterator = @my_meetings_investors %>
  <% else  %>
     <% iterator = @my_meetings_startups %>
  <% end %>
  <div class="user-card cards">
    <!-- one row = one card -->
      <% iterator.each do |meeting| %>
      <div class="row mb-4" id="selection-card">
        <div class="card col-lg-12 selection-card">
          <div class="d-flex justify-content-between align-items-center" id="inner-content">

            <div class="col-sm-6 d-flex justfiy-content-between align-items-center">
              <div class="col">
                <%= cl_image_tag meeting.startup.photo, class: "user-photo" %>
              </div>
              <div class="line-height-10 info-one col">
                <strong><%= meeting.startup.first_name %> <%= meeting.startup.last_name %></strong></p>
                <p><%= meeting.startup.position %><br> <%= meeting.startup.company_name %></p>
              </div>
              <div class="col info-two">
                <p><%= meeting.startup.company_city %></p>
              </div>
            </div>

            <div class="col-sm-6 d-flex justfiy-content-between align-items-center">
              <div class="col info-three">

                <p><strong>Business Model: </strong><%= meeting.startup.selling_to %> </p>
                <p><strong>Category: </strong><%= meeting.startup.sectors %></p>
                <p><strong>Raising: </strong> <%= meeting.startup.stages %></p>
              </div>
              <div class="matching-status col-">
                <% if meeting.matching_status == "Waiting" %>
                <p id="waiting"><strong><%= meeting.matching_status.upcase %></strong></p>
                <% elsif meeting.matching_status == "Matched" %>
                <p id="matched"><strong><%= meeting.matching_status.upcase %></strong></p>
                <% elsif meeting.matching_status == "Scheduled" %>
                <p id="scheduled"><strong><%= link_to meeting.matching_status.upcase, appointments_path %></strong></p>
                <% end %>
              </div>
            </div>

          </div>
        </div>
      </div>
      <% end %>

  </div>

  <% if @my_likes.count > 0 %>
    <h1 class="mb-5 py-3">Your Likes</h1>

    <!-- cards -->
    <div class="user-card cards">
      <!-- one row = one card -->
      <% @my_likes.each do |viewing| %>
      <div class="row mb-4" id="selection-card">
        <%link_to "" %>
        <div class="card col-lg-12 selection-card">
          <div class="d-flex justify-content-between align-items-center" id="inner-content">

            <div class="col-sm-6 d-flex justfiy-content-between align-items-center">
              <div class="col">
                <%= cl_image_tag viewing.attendance.user.photo, class: "user-photo" %>
              </div>
              <div class="line-height-10 info-one col">
                <strong><%= viewing.attendance.user.first_name %> <%= viewing.attendance.user.last_name %></strong></p>
                <p><%= viewing.attendance.user.position %><br> <%= viewing.attendance.user.company_name %></p>
              </div>
              <div class="col info-two">
                <p><%= viewing.attendance.user.company_city %></p>
              </div>
            </div>

            <div class="col-sm-6 d-flex justfiy-content-between align-items-center">
              <div class="col info-three">
                <p><strong>Business Model: </strong><%= viewing.attendance.user.selling_to %> </p>
                <p><strong>Category: </strong><%= viewing.attendance.user.sectors %></p>
                <p><strong>Raising: </strong> <%= viewing.attendance.user.stages %></p>
              </div>
              <div class="matching-status col-">
                <p id="waiting"><strong>WAITING</strong></p>
              </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
</div>

