<h1><%= @user.first_name %>, set your founder profile</h1>
<br>
<h2>Company Details</h2>
<p>Tell us about your company to meet relevant investors</p>
<br>

<div class="row">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3">

    <%= simple_form_for @user, url: profile_update_path(@user), :method => :patch do |f| %>
    <%= f.input :company_url, label: "Company URL", placeholder: "www.your-website.com" %>
    <%= f.input :firm_description, label: "Company Description (1 sentence)", placeholder: "Airbnb is an online community marketplace for people to list, discover, and book accommodations around the world.", as: :text %>
    <%= f.input :company_founding_year, label: "Company Founding Year", placeholder: "e.g. 2015" %>
    <%= f.input :fte, label: "Number of full-time employees", placeholder: "e.g. 65" %>
    <%= f.input :sectors, include_hidden: false, label: "Sectors in which your startup operates", as: :check_boxes, wrapper_html: { class: 'custom-checkbox' }, :collection => ["Agriculture", "Industrial Production", "Health & Life Sciences", "Retail/D2C", "Real Estate", "Education", "Finance", "Food", "Travel", "Hardware Engineering", "Media", "Telecommunication", "Logistics", "Mobility", "Productivity Software", "Crypto", "Insurance" ], wrapper: :vertical_collection_inline %>
    <%= f.input :selling_to, include_hidden: false, label: "Customer Types", wrapper_html: { class: 'custom-checkbox' }, as: :check_boxes, :collection => ["B2C", "B2B", "B2B2C"], wrapper: :vertical_collection_inline %>
    <%= f.input :launch_status, include_hidden: false, input_html: {name: "user[launch_status][]"}, label: "Startup Status", as: :radio_buttons, wrapper_html: { class: 'custom-checkbox' }, :collection => ["pre-MVP", "closed beta", "public beta", "publicly launched"], wrapper: :vertical_collection_inline %>
    <%= f.input :stages, include_hidden: false, input_html: {name: "user[stages][]"}, label: "Company Stage", wrapper_html: { class: 'custom-checkbox' }, as: :radio_buttons, :collection => ["Pre-Seed", "Seed", "Series A", "Series B", "Series C", "Later Stage"], wrapper: :vertical_collection_inline %>
    <%= f.input :funds_raised, label: "Funds raised to date (in €)", as: :currency, placeholder: "e.g. 800,000" %>
    <%= f.input :generating_revenue, wrapper_html: { class: 'custom-radio-button' }, label: "Does your company generate revenue?", as: :radio_buttons, collection: [['Yes', true],['No', false]], wrapper: :vertical_collection_inline %>
    <br>
    <h2>Availability</h2>
    <p>Tell us at which times you will be available for meetings (Sa, 07.09)</p>
    <br>
    <%= f.input :availability, include_hidden: false, label: "Your Time Slots", as: :check_boxes, wrapper_html: { class: 'custom-checkbox' }, :collection => @avails, wrapper: :vertical_collection_inline %>
    <br>
    <h2>Profile Picture</h2>
    <p>Upload an image so that investors can recognize you easily</p>
    <%= f.input :photo, wrapper_html: { class: 'custom-photo-input' } %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.button :submit, "Save my profile", class: "btn-lg btn-primary mb-5 mt-3" %>
    <% end %>
  </div>
</div>
