<div class="calendar-info hidden">
  <div >
    <div class="card">
      <div class="pt-3 d-flex justify-content-between">
        <div class="header-text">
          <h2><%= meeting.startup.company_name %></h2>
          <h3><%= meeting.startup.first_name %> <%= meeting.startup.last_name %>, <%= meeting.startup.position %></h3>
          <div>
            <%= cl_image_tag meeting.startup.photo, class: "matching-company-logo" %>
          </div>
        </div>
        </div>
          <%= meeting.startup.firm_description %>
        <div>
      </div>
      <div id="company-details">
        <p><%= meeting.startup.company_city %> – <%= meeting.startup.first_name %></p>
        <p><%= meeting.startup.sectors %></p>
        <p><%= meeting.startup.stages %>, raised <%= meeting.startup.funds_raised  %> to date</p>
        <p>Founded <%= meeting.startup.company_founding_year%>, now <%= meeting.startup.fte %> employees</p>
      </div>
      <div>

      </div>
    </div>
  </div>
</div>





