<div class="calendar-info hidden">
  <div class="card p-5">
    <div class="d-flex mb-4 justify-content-between">
        <h2 id="calendar-company-name"><%= meeting.startup.company_name %></h2>
        <%= cl_image_tag meeting.startup.photo, class: "calendar-company-logo" %>
    </div>

    <div id="calendar-person-name">
      <p><%= meeting.startup.first_name %> <%= meeting.startup.last_name %></p>
      <p><%= meeting.startup.position %></p>
    </div>

    <div id="calendar-person-contact">
      Mobile: <%= link_to meeting.startup.mobile, meeting.startup.mobile %> <br>
      E-Mail: <%= mail_to meeting.startup.email, meeting.startup.email %>
    </div>

    <div id="calendar-company-details">
      <p><%= meeting.startup.company_city %></p>
      <p><%= meeting.startup.selling_to.join(", ") %> – <%= meeting.startup.sectors.join(", ") %></p>
      <p></p>
      <p><%= meeting.startup.stages.join(", ") %>, raised <%= number_to_currency(meeting.startup.funds_raised, delimiter: ",", precision: 0, unit: "€")  %> to date</p>
      <p>Founded in <%= meeting.startup.company_founding_year%>, now <%= meeting.startup.fte %> employees</p>
    </div>
    <br>
    <div id="calendar-firm-description">
      <p><%= meeting.startup.firm_description %></p>
    </div>
  </div>
</div>




