<div class="calendar-info hidden">
  <div >
    <div class="card">
      <div class="pt-3 d-flex">
        <div class="d-flex mb-4">
          <br>

            <h2><%= meeting.startup.company_name %></h2>
            <%= cl_image_tag meeting.startup.photo, class: "matching-company-logo w-25" %>

        </div>
        <br>
      </div>

      <h3><%= meeting.startup.first_name %> <%= meeting.startup.last_name %></h3>
      <h4><%= meeting.startup.position %></h4>
      <br>


      <div style="line-height: 0.8">
        <p><%= meeting.startup.company_city %> – <%= meeting.startup.first_name %></p>
        <p> <%= meeting.startup.sectors.join(", ") %></p>
        <p> <%= meeting.startup.selling_to.join(", ") %></p>
        <p> <%= meeting.startup.stages.join(", ") %>, raised <%= meeting.startup.funds_raised  %>€ to date</p>
        <p>Founded in <%= meeting.startup.company_founding_year%>, now <%= meeting.startup.fte %> employees</p>
      </div>
      <br>

      <%= meeting.startup.firm_description %>

    </div>
  </div>
</div>






