<div class="container pt-5">
  <h1><%= @user.first_name %>, set your investors profile</h1>
  <br>
  <h2>Investment Criteria</h2>
  <p>Tell us what kind of startups you are interested in</p>
  <br>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">

      <%= simple_form_for @user, url: profile_update_path(@user), :method => :patch do |f| %>
      <%= f.input :ticket_size_max, label: "Your max. ticket size (in €)", as: :currency %>
      <%= f.input :sectors, include_hidden: false, label: "Sectors", as: :check_boxes, wrapper_html: { class: 'custom-checkbox' }, :collection => ["Agriculture", "Industrial Production", "Health & Life Sciences", "Retail/D2C", "Real Estate", "Education", "Finance", "Food", "Travel", "Hardware Engineering", "Media", "Telecommunication", "Logistics", "Mobility", "Productivity Software", "Crypto", "Insurance" ], wrapper: :vertical_collection_inline %>
      <%= f.input :stages, include_hidden: false, label: "Company Stages",wrapper_html: { class: 'custom-checkbox' }, as: :check_boxes, :collection => ["Pre-Seed", "Seed", "Series A", "Series B", "Series C", "Later Stage"], wrapper: :vertical_collection_inline %>
      <%= f.input :selling_to, include_hidden: false, label: "Customer Types", wrapper_html: { class: 'custom-checkbox' }, as: :check_boxes, :collection => ["B2C", "B2B", "B2B2C"], wrapper: :vertical_collection_inline %>
      <%= f.input :launch_status, include_hidden: false, label: "Startup Status", as: :check_boxes, wrapper_html: { class: 'custom-checkbox' }, :collection => ["pre-MVP", "closed beta", "public beta", "publicly launched"], wrapper: :vertical_collection_inline %>
      <%= f.input :generating_revenue, wrapper_html: { class: 'custom-radio-button' }, label: "Must the startup generate revenue?", as: :radio_buttons, collection: [['Yes', true],['No, pre-revenue only', false]], wrapper: :vertical_collection_inline %>
      <br>
      <h2>Availability</h2>
      <p>Tell us at which times you will be available for meetings (Sa, 07.09)</p>
      <br>
      <%= f.input :availability, include_hidden: false, label: "Your Time Slots", as: :check_boxes, wrapper_html: { class: 'custom-checkbox' }, :collection => ["08:00-10:00", "10:00-12:00", "12:00-14:00", "14:00-16:00", "16:00-18:00", "18:00-20:00"], wrapper: :vertical_collection_inline %>
      <%= f.button :submit, "Save my profile", class: "btn-lg btn-primary mb-5 mt-3" %>
      <% end %>
    </div>
  </div>


</div>
