<div class="container pt-5">
  <h1>Schedule relevant meetings <br> at <%= Event.first.name %> <br>in minutes</h1>
  <p class="pt-2">Sign in with the credentials which you received via E-Mail</p>

  <div class="row pt-2">
    <div class="col-12 col-sm-8 col-md-8 col-lg col-xl-6">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-row">
        <div class="col">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
        </div>
        </div>
      <div class="form-actions">
        <%= f.button :submit, "Log in", class: "btn-lg btn-primary" %>
      </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
