<div class="user-card cards">
  <% @all_meetings.each do |meeting| %>
    <div class="row mb-4">
      <div class="card col-lg-12">
        <div class="d-flex justify-content-between align-items-center" id="inner-content">

          <div class="col-sm-6 d-flex justfiy-content-between align-items-center">
            <div class="col">
              <%= cl_image_tag meeting.investor.photo, class: "user-photo" %>
            </div>
            <hr noshade style="background-color: #c3bdbd42;height: 100px;width: 2.2px;">
            <div class="line-height-10 info-one col">

              <strong><%= meeting.investor.first_name %> <%= meeting.investor.last_name %></strong></p>
              <p><%= meeting.investor.position %><br> <%= meeting.investor.company_name %></p>
            </div>
            <hr noshade style="background-color: #c3bdbd42;height: 100px;width: 2.2px;">
            <div class="col info-two">
              <% if meeting.availability_id == nil %>
                <p id="matched"><strong>MATCHED</strong></p>
              <% elsif meeting.availability_id != nil %>
                <p id="scheduled-2"><strong>SCHEDULED</strong></p>
              <% end %>
            </div>
            <hr noshade style="background-color: #c3bdbd42;height: 100px;width: 2.2px;">
          </div>
          <% if meeting.availability_id == nil %>
            <div class="col-sm-6 d-flex justfiy-content-between align-items-center">
              <div class="col d-flex info-three">
                <p><strong>Schedule now: &nbsp; &nbsp;</strong>
                  <%= simple_form_for meeting, url:  availability_meeting_path(meeting), wrapper: :inline_form, html: { class: "form-inline" }, wrapper_mappings: { boolean: :inline_boolean} do |f| -%>
                    <%= f.association :availability, input_html: { class: "mb-2 mr-sm-2 optional" }, collection: meeting.investor.availabilities.not_taken, label_method: ->(item) {item.label} %>
                    <%= f.button :submit, "Book", class: "btn-primary mb-2 book-button" %>
                  <% end %>
                </p>
              </div>
            </div>
          <% else %>
            <div class="col-sm-6 d-flex justfiy-content-between align-items-center">
              <div class="col d-flex info-three">
                <p id = "schedule-confirmation"><strong>Yay! 🎉 You'll meet <%= meeting.investor.company_name %> at <%= "#{meeting.availability.start_time.strftime('%H:%M')} - #{meeting.availability.end_time.strftime('%H:%M')}" %>  &nbsp; &nbsp;</strong></p>
              </div>
            </div>
          <% end  %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if @all_meetings.present? %>
  <div class="container d-flex no-margin-left">
    <table class="table appointments-table col-6">
      <thead>
        <tr>
          <th >Time</th>
          <th >Company Bookings</th>
        </tr>
      </thead>
        <tbody>
          <% (["10:00-10:30", "10:30-11:00", "11:00-11:30", "11:30-12:00", "12:00-12:30", "12:30-13:00", "13:00-13:30", "13:30-14:00", "14:00-14:30", "14:30-15:00", "15:00-15:30", "15:30-16:00", "16:00-16:30", "16:30-17:00", "17:00-17:30", "17:30-18:00"]).each do |time| %>

            <tr>
            <% @meetings.each do |meeting| %>
              <th scope="col" class="time"><%= time %></th>
              <% meeting1 = "#{meeting.availability.start_time.strftime('%H:%M')}-#{meeting.availability.end_time.strftime('%H:%M')}" %>
              <% if meeting1 == time %>
                  <td class="slot"> <strong><%= meeting.investor.company_name%></strong> </td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
            <% end %>
          <% end %>
      </tbody>
  </table>

<% else %>
  <div class="text-center mt-3">
    <p>No meetings scheduled (yet) – <%= link_to "match", attendances_path %> more profiles, or go to your <%= link_to "selection", meetings_path %> or come back later! </p>
  </div>
<% end %>

<% if @all_meetings.present? %>
  <%= render "shared/show-details", meeting: @all_meetings.first %>
<% end %>
