 <div class="d-flex mb-4">
    <div id="selection-text"> Select your default meeting spot: &nbsp; &nbsp;</div>
    <%= simple_form_for @user, url: meeting_spot_path(@user), wrapper: :inline_form, html: { class: "form-inline" }, wrapper_mappings: { boolean: :inline_boolean}, :method => :patch do |f| %>
      <%= f.input :meeting_spot, input_html: { class: "mb-2 mr-sm-2" }, :collection => @event.meeting_spots.split(",") %>
      <%= f.button :submit, "Save", class: "btn-primary mb-2" %>
    <% end %>
  </div>

  <div class="container d-flex no-margin-left">

    <% if @all_meetings_i.present? %>
      <table class="table appointments-table col-6">
        <thead>
          <tr>
            <th >Time</th>
            <th >Company Bookings</th>
          </tr>
        </thead>
        <tbody>
          <% (["10:00-10:30", "10:30-11:00", "11:00-11:30", "11:30-12:00", "12:00-12:30", "12:30-13:00", "13:00-13:30", "13:30-14:00", "14:00-14:30", "14:30-15:00", "15:00-15:30", "15:30-16:00", "16:00-16:30", "16:30-17:00", "17:00-17:30", "17:30-18:00"]).each do |time| %>
            <tr>
              <% @all_meetings_i.each do |meeting| %>
                <th scope="col" class="time"><%= time %></th>
                <% meeting1 = "#{meeting.availability.start_time.strftime('%H:%M')}-#{meeting.availability.end_time.strftime('%H:%M')}" %>
                <% if meeting1 == time %>
                    <td class="slot"><strong><%= meeting.startup.company_name%></strong></td>
                <% else %>
                  <td></td>
                <% end %>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <div class="text-center mt-5">
        <p>No meetings scheduled (yet) – <%= link_to "match", attendances_path %> more profiles, or go to your <%= link_to "selection", meetings_path %> or come back later!</p>
      </div>
    <% end %>

  <% if @all_meetings_i.present? %>
    <%= render "shared/show-details", meeting: @meetings_i.first %>
  <% end %>
</div>

