
<div class="container">
  <h1 class="mb-4 py-3">Your Appointments</h1>


<% if current_user.kind == "investor" %>
  <div class="d-flex mb-4">
    <div id="selection-text"> Select your default meeting spot: &nbsp; &nbsp;</div>
    <%= simple_form_for @user, url: meeting_spot_path(@user), wrapper: :inline_form, html: { class: "form-inline" }, wrapper_mappings: {
    boolean: :inline_boolean}, :method => :patch do |f| %>
      <%= f.input :meeting_spot, input_html: { class: "mb-2 mr-sm-2" }, :collection => @event.meeting_spots.split(",") %>
      <%= f.button :submit, "Save", class: "btn-primary mb-2" %>
    <% end %>
  </div>
</div>
<% else %>
  <div class="user-card cards">
  <!-- one row = one card -->
    <% @events.each do |meeting| %>
    <div class="row mb-4">
      <div class="card col-lg-12">
        <div class="d-flex justify-content-between align-items-center" id="inner-content">

          <div class="col-sm-6 d-flex justfiy-content-between align-items-center">
            <div class="col">
              <%= cl_image_tag meeting.investor.photo, class: "user-photo" %>
            </div>
            <div class="line-height-10 info-one col">

              <strong><%= meeting.investor.first_name %> <%= meeting.investor.last_name %></strong></p>
              <p><%= meeting.investor.position %><br> <%= meeting.investor.company_name %></p>
            </div>
            <div class="col info-two">
              <p id="matched-2"><strong><%= meeting.matching_status.upcase %></strong></p>
            </div>
          </div>

          <div class="col-sm-6 d-flex justfiy-content-between align-items-center">
            <div class="col d-flex info-three">
              <p><strong>Schedule now: &nbsp; &nbsp;</strong>
                <%= simple_form_for @user, url: meeting_spot_path(@user), wrapper: :inline_form, html: { class: "form-inline" }, wrapper_mappings: {
                boolean: :inline_boolean}, :method => :patch do |f| %>
                  <%= f.input :meeting_spot, input_html: { class: "mb-2 mr-sm-2 optional" }, :collection => ["Fr, 08:00-09:00", "Fr, 09:00-10:00", "Fr, 10:00-11:00", "Fr, 11:00-12:00", "Fr, 12:00-13:00", "Fr, 14:00-15:00", "Fr, 15:00-16:00", "Fr, 16:00-17:00", "Fr, 17:00-18:00"] %>
                  <%= f.button :submit, "Book", class: "btn-primary mb-2" %>
                <% end %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>

<div class="container">
  <table class="table appointments-table">
    <thead>
      <tr>
        <th >Time</th>
        <th >Company Bookings</th>
      </tr>
    </thead>
      <tbody>
        <% (8..18).each do |time| %>
          <tr>
            <% if time <= 11 %>
              <th scope="col" class="time"><%= time %>:00 am</th>
            <% elsif time >= 12 %>
              <th scope="col" class="time"><%= time %>:00 pm</th>
            <% end  %>
            <% datetime = DateTime.parse("2000-01-01 #{time}:00") %>
            <% meeting = current_user.meetings_for_hour(datetime).first %>
            <% if meeting %>
                <td class="slot"><strong><%= meeting.startup.company_name%></strong></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>


