
<div class="container">
  <h1 class="mb-4 py-3">Your Appointments</h1>

  <div class="d-flex mb-4">
    <div id="selection-text"> Select your default meeting spot: &nbsp; &nbsp;</div>
    <!-- <p>Select your default meeting spot</p> -->
    <%= simple_form_for @user, url: meeting_spot_path(@user), wrapper: :inline_form, html: { class: "form-inline" }, wrapper_mappings: {
    boolean: :inline_boolean}, :method => :patch do |f| %>
      <%= f.input :meeting_spot, input_html: { class: "mb-2 mr-sm-2" }, :collection => @event.meeting_spots.split(",") %>
      <%= f.button :submit, "Save", class: "btn-primary mb-2" %>
    <% end %>
  </div>



  <table class="table appointments-table">
    <thead>
      <tr>
        <th >Time</th>
        <th >Company Bookings</th>
      </tr>
    </thead>
      <tbody>
        <% (8..18).each do |time| %>
          <tr>
            <% if time <= 11 %>
              <th scope="col" class="time"><%= time %>:00 am</th>
            <% elsif time >= 12 %>
              <th scope="col" class="time"><%= time %>:00 pm</th>
            <% end  %>
            <% datetime = DateTime.parse("2000-01-01 #{time}:00") %>
            <% meeting = current_user.meetings_for_hour(datetime).first %>
            <% if meeting %>
                <td class="slot"><strong><%= meeting.startup.company_name%></strong></td>
            <% else %>
              <td></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
  </table>

</div>


