<div class="container">
  <% if current_user.kind == "investor" %>
    <h1 class="pt-3 pb-4">Find Founders</h1>
  <% elsif current_user.kind == 'startup' %>
    <h1 class="pt-3 pb-4">Find Investors</h1>
  <% end %>

  <% if @meetings.count > 0 %>
    <div class="alert flash flash-success alert-dismissible fade show" role="alert">
     <span><strong>Yay!</strong> 🎉 You have a new match! <%= link_to "See more", meetings_path %></span>
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </div>
  <% end %>

  <% if @attendances.present? %>

    <% @attendances.each do |attendance| %>
    <div class="card col-8 justify-content-center m-auto matching-card">
      <div class="p-3">
        <div class="pt-3 d-flex justify-content-between">
          <div class="header-text">
            <h2><%= attendance.user.company_name %></h2>
            <h3><%= attendance.user.first_name %> <%= attendance.user.last_name %>, <%= attendance.user.position %></h3>
          </div>
          <div>
            <%= cl_image_tag attendance.user.photo, class: "matching-company-logo" %>
          </div>
        </div>
        <div id="company-details">
          <p><%= attendance.user.selling_to.join(", ")%> – <%= attendance.user.sectors.join(", ") %></p>
          <p><%= attendance.user.company_city %></p>
          <p><%= attendance.user.stages.join(", ") %>, raised <%= number_to_currency(attendance.user.funds_raised, delimiter: ",", precision: 0, unit: "€")  %> to date</p>
          <p>Founded <%= attendance.user.company_founding_year %>, now <%= attendance.user.fte %> employees</p>
        </div>
        <div>
          <p><%= attendance.user.firm_description %></p>
        </div>
        <div class="py-3">
          <%= link_to "✔", attendance_create_like_path(attendance), method: :post, class: "like btn btn-primary mr-2 px-4 like-btn", id:"like-button", remote: true %>
          <%= link_to "Pass", attendance_create_dislike_path(attendance), method: :post, class: "matching-pass-link dislike-btn", id:"dislike-button", remote: true %>
        </div>
      </div>
    </div>
    <% end %>

    <!-- <div class="col-8 justify-content-center m-auto text-center">
      <p class="mt-3" id="profiles-left-counter"><span id="attendence-counter"><%= @attendances.count %></span> profiles left </p>
    </div>
 -->
  <% else %>
    <br><br><br><br><br>
    <div class="text-center mt-5">
      <p>No profiles to match – go to your <%= link_to "selection", meetings_path %>, change your <%= link_to "profile settings", profile_path %> or come back later! </p>
    </div>
  <br>
  <% end %>

</div>









