<div class="container">
  <h1 class="py-4">Matching</h1>
  <% if @meetings.present? %>
  <p>match <%= @meetings.count %></p>

  <% end %>

  <% @attendances.each do |attendance| %>
    <div class="card col-8 justify-content-center m-auto matching-card">
      <div class="p-3">
        <div class="pt-3">
          <h2><%= attendance.user.company_name %></h2>
          <h3><%= attendance.user.first_name %> <%= attendance.user.last_name %>, <%= attendance.user.position %></h3>
        </div>
        <div id="company-details">
          <p><%= attendance.user.sectors %></p>
          <p><%= attendance.user.company_city %></p>
          <p><%= attendance.user.stages %></p>
          <p>Founded <%= attendance.user.company_founding_year %></p>
        </div>
        <div>
          <p><%= truncate(attendance.user.firm_description, length: 180 ) %></p>
        </div>
        <div class="py-3">
          <%= link_to "✔", attendance_create_like_path(attendance), method: :post, class: "like btn btn-success mr-2 px-4" %>
          <%= link_to "✘", attendance_create_dislike_path(attendance), method: :post, class: "btn btn-secondary px-4" %>
        </div>
      </div>

    </div>
    <br>
  <% end %>
</div>









